@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  border-bottom: 1px solid #0000007a;
}

.navHeader {
  a {
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;

    cursor: pointer;

    color: #000000;
  }
}

main {
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heroSection {
  width: 100%;
  height: 400px;
  margin: auto;
  margin-top: 30px;

  background: url("./images/INDIA_HERO.jpg") center center no-repeat;
  background-size: cover;

  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

  position: relative;
}

.heroSection::after {
  content: "INDIA";
  position: absolute;
  bottom: 10px;
  left: 10px;

  font-size: 36px;
  font-weight: 700;
  font-style: normal;
}

.HomeWebTittle {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px 0;

  h1 {
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    margin-bottom: 10px;

    text-align: center;
  }

  p {
    width: 80%;
    height: max-content;
    text-align: center;
    font-size: 1em;
    color: #222222;
    margin-bottom: 20px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.ListOfFastivals {
  width: 100%;
  height: max-content;
  margin-top: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  .Content {
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 1em;
      color: #131313;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    ol {
      padding-left: 20px;

      width: 100%;
      height: max-content;

      li {
        padding: 20px;

        a {
          font-family: "Kanit", sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 1rem;
          color: red;
          text-decoration: none;
          transition: all 100ms ease;

          &:hover {
            color: #000000;
            transition: all 100ms ease;
          }
        }
      }
    }
  }

  h1 {
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    color: #000000b2;
    margin-bottom: 10px;
    text-align: center;
    max-width: 98%;
  }
}

.FestivalCards {
  width: 100%;
  height: max-content;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  margin: 70px 0;

  .card {
    width: 100%;
    height: max-content;
    background-color: #ffb1b1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    a {
      text-decoration: none;
      img {
        width: 100%;
        height: 409px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      h2 {
        font-size: 2em;
        font-weight: 600;
        font-style: normal;
        color: #000000;
        margin: 10px 0;
      }

      p {
        width: 100%;
        font-size: 1em;
        color: #222222;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
